AMBER_API_KEY=psk_
AMBER_SITE_ID=
EXPORT_COST_THRESHOLD_C=0.0

ALPHAESS_OPENAPI_ENABLED=1
ALPHAESS_APP_ID="alpha"
ALPHAESS_APP_SECRET=""
ALPHAESS_SYS_SN=2
ALPHAESS_UNIT_INDEX=2

RUNTIME_PROFILE=mt
GOODWE_HOST="192.168.1.10"
GOODWE_EXPORT_LIMIT_MODE=active_pct
GOODWE_ACTIVE_PCT_REG=256

ALPHAESS_PBAT_POSITIVE_IS_CHARGE=1   # set to 0 if reversed
ALPHAESS_PGRID_POSITIVE_IS_IMPORT=1  # set to 0 if reversed

SLEEP_SECONDS=2
ALPHAESS_MIN_POLL_INTERVAL_SEC=15


